apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-mylera.fullname" . }}
  labels:
    app: {{ include "node-mylera.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "node-mylera.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "node-mylera.name" . }}
    spec:
      serviceAccountName: {{ include "node-mylera.fullname" . }}-sa
      containers:
        - name: {{ include "node-mylera.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            {{- toYaml .Values.env | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
